@import 'bourbon';
@import 'flash.scss';

body {
  font-family: $helvetica;
  color: #333;
}

p {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;

  &:hover {
    color: darken(blue, 20%);
    text-decoration: underline;
  }
}

/* Hacks to make Demo smoooth*/
.profile {
  width: 250px;

  img {
    width : 250px;
    height: 250px;
  }
}
