@mixin flash {
  padding: 10px;
  margin: 10px 0;
  @include border-radius(10px);
  font-size: 20px;
}


.alert {
  @include flash;

  border: 1px solid red;
  background: lighten(red, 40%);
}

.notice {
  @include flash;

  border: 1px solid green;
  background: lighten(green, 40%);
}
